PORT=3000
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@YOUR_HOST:YOUR_PORT/railway
# Use this for local development when DATABASE_URL uses *.railway.internal.
# LOCAL_DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@YOUR_PUBLIC_HOST:YOUR_PUBLIC_PORT/railway
JWT_SECRET=your_super_secret_key
JWT_EXPIRES_IN=7d
NODE_ENV=development
